/* ~~~~~~~~~~~~~~ */
/* color variables */
/* ~~~~~~~~~~~~~~ */
:root {
    --rainbow: linear-gradient(-45deg, red, orange, yellow, green, blue, indigo, violet);
    /* noirish tones */
    /* --primaryColor: #444444;
  --secondaryColor: #ffdd67;
  --tertiaryColor: #535945; */
    /* jazz tones */
    /* --primaryColor: #2a7e90;
  --secondaryColor: #165120;
  --tertiaryColor: #031138;
  --quaternary: #013c40; */
    /* autumn in vermont */
    /* --primaryColor: #1e434c;
    --secondaryColor: #c99e10;
    --tertiaryColor: #9b4f0f;
    --quaternary: #8d230f; */
    /* spalding basketball */
    /* --primaryColor: #161616;
    --secondaryColor: #E47041;
    --tertiaryColor: #B54213;
    --quaternary: #EF7F4D; */
    /* basketball court */
    --primaryColor: #184F7B;
    --secondaryColor: #A1D9DA;
    --tertiaryColor: #F6B042;
    --quaternary: #F28D3C;
}

html {
    box-sizing: border-box;
    font-family: monospace;
    background: var(--primaryColor);
    color: var(--secondaryColor);
}

*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.yo-globe {
    min-height: 100vh;
    display: grid;
    position: relative;
    grid-gap: 0;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px auto 40px;
    grid-template-areas:
        "m m m m m m m m m m m m"
        "c c c c c c c c c c c c"
        "l l l l l l l l l l l l";
}

/* ~~~~~~~~~~~~~~ */
/* navigation full page menu */
/* ~~~~~~~~~~~~~~ */
.overlay {
    height: calc(100vh);
    width: 0;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    color: var(--primaryColor);
    background-color: var(--secondaryColor);
    overflow-x: hidden;
    transition: 0.5s;
    font-size: 2rem;
}

/* ~~~~~~~~~~~~~~ */
/* position of the navigation links inside the overlay */
/* ~~~~~~~~~~~~~~ */
.overlay-content {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 25%;
    display: inline-block;
    margin: auto;
    text-align: center;
}

/* ~~~~~~~~~~~~~~ */
/* navigation links inside the overlay */
/* ~~~~~~~~~~~~~~ */

.exit {
    /* border: solid black; */
    grid-area: m;
    display: inline-flex;
    float: right;
    font-size: 3rem;
    top: 0;
}

.overlay a {
    padding-bottom: 8px;
    text-decoration: none;
    font-size: 36px;
    color: var(--primaryColor);
    display: block;
    transition: 0.3s;
}

.menu {
    /* border: solid black; */
    grid-area: m;
    display: inline-flex;
    margin-left: auto;
    font-size: 3rem;
    top: 0;
    right: 0;
}

/* ~~~~~~~~~~~~~~ */
/* center for content */
/* ~~~~~~~~~~~~~~ */
.center {
    border: solid black;
    position: absolute;
    width: calc(100vw - 90px);
    height: calc(100vh - 40px);
    overflow: scroll;
    top: calc(50% + 20px);
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ~~~~~~~~~~~~~~ */
/* links */
/* ~~~~~~~~~~~~~~ */
.links {
    /* border: solid black; */
    position: absolute;
    width: 40px;
    height: calc(100% - 40px);
    top: 40px;
    right: 5px;
    z-index: 2;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
}

.links img {
    bottom: 0;
    cursor: pointer;
}

.fa {
    color: var(--secondaryColor);
    z-index: 2;
}

/* ~~~~~~~~~~~~~~ */
/* flag logo */
/* ~~~~~~~~~~~~~~ */
.flag {
    /* border: solid black; */
    width: 60px;
    height: 40px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    /* transform: translate(-50%, -50%); */
}

.fas {
    color: var(--secondaryColor);
    z-index: 2;
}

.top {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar {
    background: var(--secondaryColor);
    color: var(--primaryColor);
    z-index: 2;
    width: 100%;
    height: 30%;
}

.b1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.b2 {
    position: absolute;
    bottom: 0;
}

p span {
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    transition: 1s;
    transform: rotateY(0deg);
}

.bar {
    text-align: center;
}

p:hover span {
    transform: rotateY(360deg);
}

p:hover span:nth-child(1) {
    transition-delay: .2s;
}

p:hover span:nth-child(2) {
    transition-delay: .4s;
}

p:hover span:nth-child(3) {
    transition-delay: .6s;
}

p:hover span:nth-child(4) {
    transition-delay: .8s;
}

p:hover span:nth-child(4) {
    transition-delay: 1s;
}

p:hover span:nth-child(5) {
    transition-delay: 1.2s;
}

p:hover span:nth-child(6) {
    transition-delay: 1.4s;
}

p:hover span:nth-child(7) {
    transition-delay: 1.6s;
}

p:hover span:nth-child(8) {
    transition-delay: 1.8s;
}

p:hover span:nth-child(9) {
    transition-delay: 2s;
}

p:hover span:nth-child(10) {
    transition-delay: 2.2s;
}

p:hover span:nth-child(11) {
    transition-delay: 2.4s;
}

p:hover span:nth-child(12) {
    transition-delay: 2.6s;
}

p:hover span:nth-child(6) {
    transition-delay: 1.4s;
}